.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav-logo {
  max-width: 100%;
  width: 200px;
  display: flex;
  align-items: center;
}
.main-nav-item {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 0.5rem;
}
.main-nav-item .fa-circle-user {
  margin-right: 5px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #2c3e50;
}
.fa-right-from-bracket {
  margin-right: 3px;
}
